<ion-view>
  <ion-content class="content-index center">
      <img src="img/btn_stream1_lg.png" class="image-stream" ng-click="streamHD1onClick()" />
      <img src="img/btn_stream2_lg.png" class="image-stream" ng-click="streamHD1onClick()" />
      <img src="img/btn_stream3_lg.png" class="image-stream" ng-click="streamHD1onClick()" />
  </ion-content>
</ion-view>
<ion-footer-bar class="bar-footer">
    <div class="title">
        <img src="img/btn_facebook.png" class="image-footer" />
        <img src="img/btn_twitter.png" class="image-footer" />
        <img src="img/img_logo_footer.png" class="image-footer image-footer-logo" />
        <button class="button button-donate">Donate</button>
    </div>
</ion-footer-bar>

