<ion-view>
  <ion-content class="content-index" scroll="false">
      <div class="row row-center" style="height: 100%">
          <div class="col padding-left padding-right">
              <a nav-direction="forward" ui-sref="stream({streamId: '1'})"><img src="img/btn_stream1_lg.png" class="image-stream" /></a>
              <a nav-direction="forward" ui-sref="stream({streamId: '2'})"><img src="img/btn_stream2_lg.png" class="image-stream" /></a>
              <a nav-direction="forward" ui-sref="stream({streamId: '3'})"><img src="img/btn_stream3_lg.png" class="image-stream" /></a>
          </div>
      </div>
  </ion-content>
</ion-view>

