<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
      <script src="lib/SocialSharing.js"></script>
      <script src="lib/x2js/xml2json.min.js"></script>
      <script src="lib/ngCordova/dist/ng-cordova.js"></script>
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
  </head>
  <body ng-app="starter">
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button class="button-energized"></ion-nav-back-button>
        <img src="img/img_logo_header.png" class="image-header-logo">
    </ion-nav-bar>
    <!--
      The views will be rendered in the <ion-nav-view> directive below
      Templates are in the /templates folder (but you could also
      have templates inline in this html file if you'd like).
    -->
    <ion-nav-view style="background-color: #ece1c3;"></ion-nav-view>
    <ion-footer-bar class="bar-footer">
        <div>
            <a href="" ng-click="fnShareViaFacebook()" class="button button-clear"><img src="img/btn_facebook.png" class="image-footer-share"></a>
            <a href="" ng-click="fnShareViaTwitter()" class="button button-clear"><img src="img/btn_twitter.png" class="image-footer-share"></a>
        </div>
        <div class="title">
            <img src="img/img_logo_footer.png" class="image-footer-logo">
        </div>
        <button onclick="window.open('http://secure.imodules.com/s/701/index.aspx?sid=701&gid=1&pgid=1443&cid=2658', '_system', 'location=yes'); return false;" class="button button-donate">Donate</button>
    </ion-footer-bar>
  </body>
</html>
