/* Empty. Add your own CSS if you like */

.bar.bar-footer {
    background-color: #ead49b;
    border-style: solid none none none;
    border-top: thin solid #d2b875;
}

.bar.bar-stable {
    background-color: #640000;
    border: none;
}

.button-donate {
    background: #903805;
    background-image: -webkit-linear-gradient(top, #903805, #460101);
    background-image: -moz-linear-gradient(top, #903805, #460101);
    background-image: -ms-linear-gradient(top, #903805, #460101);
    background-image: -o-linear-gradient(top, #903805, #460101);
    background-image: linear-gradient(to bottom, #903805, #460101);
    border: none;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 14px;
    padding: 0 15px 0 15px !important;
    text-decoration: none;
    margin-top: 5px;
}

.button-donate:hover {
    color: #ffffff;
}

.content-index {
    opacity: 1;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: #ece1c3;
}

.content-index-background {
    opacity: 0;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: #ece1c3 url('../img/bg_main_lg.png') no-repeat top left fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.view-index-background {
    background-color: #ece1c3;
    background-image: url('../img/bg_main_lg.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.content-index-background-entered {
    opacity: 1;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: #ece1c3 url('../img/bg_main_lg.png') no-repeat top left fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-transition: opacity 0.25s ease-in;
    -moz-transition: opacity 0.25s ease-in;
    -o-transition: opacity 0.25s ease-in;
    transition: opacity 0.25s ease-in;
}

.content-index-container {
    opacity: 1;
    height: 100%;
    width: 100%;
    top: 25%;
    left: 0;
    position: absolute;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 10;
}

.content-stream1 {
    opacity: 1;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #000000;
}

.content-stream1-background {
    opacity: 0;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: #000000 url('../img/bg_stream1_lg.png') no-repeat center left fixed;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}

.content-stream1-background-entered {
    opacity: 1;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: #000000 url('../img/bg_stream1_lg.png') no-repeat center left fixed;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    -webkit-transition: opacity 0.25s ease-in;
    -moz-transition: opacity 0.25s ease-in;
    -o-transition: opacity 0.25s ease-in;
    transition: opacity 0.25s ease-in;
}

.content-stream1-container {
    opacity: 1;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    padding-left: 10px;
    padding-right: 10px;
    color: #FFFFFF;
    z-index: 10;
}

.content-stream2 {
    opacity: 1;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #ece1c3;
}

.content-stream2-background {
    opacity: 0;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: #ece1c3 url('../img/bg_stream2_lg.png') no-repeat top left fixed;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}

.content-stream2-background-entered {
    opacity: 1;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: #ece1c3 url('../img/bg_stream2_lg.png') no-repeat top left fixed;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    -webkit-transition: opacity 0.25s ease-in;
    -moz-transition: opacity 0.25s ease-in;
    -o-transition: opacity 0.25s ease-in;
    transition: opacity 0.25s ease-in;
}

.content-stream2-container {
    opacity: 1;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 10;
}


.content-stream3 {
    opacity: 1;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #000000;
}

.content-stream3-background {
    opacity: 0;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: #000000 url('../img/bg_stream3_lg.png') no-repeat center left fixed;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}

.content-stream3-background-entered {
    opacity: 1;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: #000000 url('../img/bg_stream3_lg.png') no-repeat center left fixed;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    -webkit-transition: opacity 0.25s ease-in;
    -moz-transition: opacity 0.25s ease-in;
    -o-transition: opacity 0.25s ease-in;
    transition: opacity 0.25s ease-in;
}

.content-stream3-container {
    opacity: 1;
    height: 100%;
    width: 100%;
    position: absolute;
    color: #FFFFFF;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 10;
}

.image-footer {
    max-height: 90%;
    padding-right: 7px;
    padding-top: 7px;
}

.image-footer-logo{
    padding-left: 15px;
    padding-right: 30px;
}

.image-stream {
    max-width: 100%;
    padding-bottom: 10px;
}

.scroll {
    height: 100%;
}