.bar.bar-footer {
    background-color: #ead49b;
    border-style: solid none none none;
    border-top: thin solid #d2b875;
    height: 60px;
}

.bar.bar-stable {
    background-color: #640000;
    border: none;
    height: 60px;
}

.button-donate {
    float: right;
    background: #903805;
    background-image: -webkit-linear-gradient(top, #903805, #460101);
    background-image: -moz-linear-gradient(top, #903805, #460101);
    background-image: -ms-linear-gradient(top, #903805, #460101);
    background-image: -o-linear-gradient(top, #903805, #460101);
    background-image: linear-gradient(to bottom, #903805, #460101);
    border: none;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 16px !important;
    padding: 5px 30px 5px 30px !important;
    text-decoration: none;
    height: 80%;
    margin-top: 2px;
}

.button-donate:hover {
    color: #ffffff;
}

.button-playback-control {
    background: #903805;
    background-image: -webkit-linear-gradient(top, #903805, #460101);
    background-image: -moz-linear-gradient(top, #903805, #460101);
    background-image: -ms-linear-gradient(top, #903805, #460101);
    background-image: -o-linear-gradient(top, #903805, #460101);
    background-image: linear-gradient(to bottom, #903805, #460101);
    border: none;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    color: #ffffff;
    font-size: 100px !important;
    text-decoration: none;
    margin-top: 1%;
    height: 150px;
    width: 150px;
    padding-top: 8px;
}

.content-index {
    background: #ece1c3 url('../img/bg_main_lg.png') no-repeat top left;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
}

.content-index-container {
    top: 50%;
    position: absolute;
    padding-left: 10px;
    padding-right: 10px;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.content-stream {
    width: 90%;
    margin-left: 5%;
    position: absolute;
    bottom: 5%;
}

.content-stream1 {
    background: #000000 url('../img/bg_stream1_lg.png') no-repeat 0 10%;
    background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    -webkit-background-size: contain;
}

.content-stream2 {
    background: #ece1c3 url('../img/bg_stream2_lg.png') no-repeat top left;
    background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    -webkit-background-size: contain;
}

.content-stream3 {
    background: #000000 url('../img/bg_stream3_lg.png') no-repeat top left;
    background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    -webkit-background-size: contain;
}

.content-stream-controls-background {
    padding: 2%;
    background: #FFFFFF;
    border-radius: 10px;
    border: thin solid #000000;
}

.content-stream-controls {
    text-align: center;
}

.content-stream-description {
    margin-bottom: 1%;
}

.content-stream1-description {
    color: #FFFFFF;
}

.content-stream2-description {
}

.content-stream3-description {
    color: #FFFFFF;
}

.image-footer-logo {
    height: 100%;
    padding: 7px;
}

.image-footer-share {
    height: 100%;
    padding-top: 2px;
}

.image-header-logo {
    position: absolute;
    top: -18px;
    max-width: 50%;
    height: auto;
    z-index: 10;
    margin-left: 50%;
    transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

.image-stream {
    max-width: 100%;
    height: auto;
    padding-bottom: 10px;
}

.scroll {
    height: 100%;
}

.spinner svg {
    stroke: #ffffff;
    fill: #ffffff;
}

.title {
    height: 60px !important;
}